/* all */
html, 
body { 
    margin: 0; 
}

.noscrollbody {
    height: 100%;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background: rgb(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb {
background: rgba(135, 135, 135, 0.8);
}

::-webkit-scrollbar-thumb:hover {
background: rgba(51, 51, 51, 0.8);
}

/* navbar */
.navbar {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;  
    background-color: rgba(51, 51, 51, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.4em;
}

.navbar a:hover {
    color: #b1b1b1;
  }

.navbar img {
    display: block;
}

.navbar .button {
    padding: 0.94em 3%;
}

.navbar #download {
    background-color: #f5d45f;
    color: #333;
    font-weight: 600;
}

.navbar #download:hover {
    background-color: #b8920d;
    color: #f2f2f2;
}

/* footer */
footer {
    z-index: 10;
    position: relative;
    background-color: #333;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer nav a {
    text-decoration: none;
    margin: 1% 2%;
}

#socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sociallink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 3%;
}

#socials a {
    color: #f2f2f2;
    font-size: 1.2em;
    padding-left: 8px;
}

#socials a:hover {
    color: #b1b1b1;
}

#socials img {
    height: 1.2em;
    width: auto;
}

#companyinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#companyinfo a {
    color: #cccccc;
    font-size: 1em;
}

#companyinfo a:hover {
    color: #858585;
}

footer #companylogo img {
    padding-top: 4px;
    width: 14em;
    height: auto;
}

footer .copyright {
    font-size: 0.8em;
    color: #cccccc;
    word-wrap: break-word;
}

/* home page*/
#homebg {
    background-image: url("imgs/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#homebg img {
    padding-top: 20%;
}

#platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#platforms a {
    width: 14em;
    margin: 2%;
    border-radius: 0.6em;
}

#platforms a img {
    display: block;
    max-width: 100%;
    border-radius: 0.6em;
    opacity: 0.85;
}


#platforms a:hover img {
    opacity: 1;
}

/* about page */
#abtbg {
    background-image: url("imgs/bg2.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infopage {
    margin-top: 5.5em;
    margin-bottom: 2.5em;
    width: 90%;
    background-color: rgba(46, 50, 69, 0.8);
    text-align: center;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr 1.3fr;
}

.infopage .text {
    font-size: 1.1em;
    color: #f2f2f2;
    text-align: left;
    overflow-y: auto;
    padding: 0 5%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    min-width: 0;
    min-height: 0;
}

.text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    margin-top: 3%;
    word-wrap: break-word;
}

.text h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.text p {
    margin-top: -7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainimg {
    padding: 2%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-width: 0;
    min-height: 0;
}

.sideimg {
    padding: 0 2% 2%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mainimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sideimg div {
    padding: 0 1%;
    flex-basis: 23%;
}

.sideimg img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideimg img:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 576px) {
    .infopage {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .infopage .mainimg {
        order: 1;
        flex-basis: 45%;
    }

    .infopage .sideimg {
        order: 2;
        flex-basis: 15%;
    }

    .infopage .text {
        order: 3;
        flex-basis: 40%;
    }
}

/* character page */

#charabg {
    background-image: url("imgs/bg3.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charapage {
    margin-top: 5em;
    margin-bottom: 1em;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.charaselect {
    flex-basis: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1%;
}

.charaselect .charaselecttab {
    background-color: rgba(46, 50, 69, 0.8);
    flex-basis: 15%;
    max-height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charaselecttab img {
    max-height: 100%;
    max-width: 100%;
}

.charaselecttab span {
    color: #f2f2f2;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.charaselecttab:hover {
    background-color: rgba(46, 50, 69);
    cursor: pointer;
}

.charainfo {
    flex-basis: 80%;
    margin-top: 12em;
    height: 50%;
    background-color: rgba(46, 50, 69, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.charainfo .charahead {
    position: absolute;
    top: -10%;
    left: 5%;
    color: #f2f2f2;
    font-size: 3.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69);
}

.charainfo .charatxt {
    color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    flex-basis: 75%;
    margin: 3%;
    margin-top: 4%;
    overflow-y: auto;
    padding-right: 1%;
}

.charainfo .charaimg {
    flex-basis: 20%;
    flex-shrink: 0.25;
    margin-right: 5%;
    margin-top: -20%;
    margin-bottom: -2.5%;
}

.charainfo .charaimg img {
    max-height: 100%;
}

/* news page */

#newsbg {
    background-image: url("imgs/bg4.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    margin-top: 5.5em;
    margin-bottom: 2.5em;
    padding-right: 0.5%;
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3% 0%;
    justify-content: space-between;
}

.articles article {
    background-color: rgba(46, 50, 69, 0.8);
    color: #f2f2f2;
    text-align: left;
}

.articles .mainarticle {
    flex-basis: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 5fr 1fr;
    font-size: 1.5em;
}

.articles .subarticle {
    flex: 0 32%;
    min-height: 33%;
    display: grid;
    grid-template-rows: 5fr 1fr;
    font-size: 1.2em;
}

.articleimg {
    grid-row: 1 / 6;
    min-width: 0;
    min-height: 0;
}
.articleimg img {
    width: 100%;
    height: 100%;
}

.mainarticle .articleimg img {
    object-fit: contain;
}

.subarticle .articleimg img {
    object-fit: cover;
}

.articletext {
    grid-row: 6 / 7;
    min-width: 0;
    min-height: 0;
    max-height: 100%;
    word-wrap: break-word;
}

.mainarticle .articletext {
    margin-top: -3%;
    margin-bottom: -1.5%;
    margin-left: 2%;
}

.subarticle .articletext {
    margin-top: -7%;
    margin-bottom: -3%;
    margin-left: 4%;
}

.articletext h1 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

.time {
    color:#cccccc;
}

.mainarticle .articletext .time {
    margin-top: -3%;
    font-size: 0.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainarticle .articletext .content {
    margin-top: -1.5%;
    font-size: 0.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content a {
    color: #f2f2f2;
}

.subarticle .articletext .time {
    margin-top: -9%;
    font-size: 0.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobimg {
    display: none;
}

@media (max-width:576px) {
    .articles .subarticle {
        flex: 0 48%;
    }

    .deskimg {
        display: none;
    }

    .mobimg {
        display: block;
    }
}

/* news article */

#newsarticlebg {
    background-image: url("imgs/bg4.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs {
    margin-top: 5.3em;
    margin-bottom: 0.2em;
    width: 85%;
}

.breadcrumbs a {
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(46, 50, 69,0.3);
    text-shadow: 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69), 0 0 1px rgba(46, 50, 69);
    padding: 2px;
}

.breadcrumbs a:hover {
    color: #cccccc;
}

.newsarticle {
    margin-bottom: 2.5em;
    width: 85%;
    background-color: rgba(46, 50, 69, 0.8);
    height: 78%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.newsarticle .newsarticleimg {
    width: 100%;
    max-height: 80%;
}

.newsarticle .newsarticleimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsarticle .newsarticletext {
    color: #f2f2f2;
    margin: 0 2%;
}

.newsarticletext h1 {
    margin-top: 0.5em;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.newsarticletext .articledetails {
    margin-top: -0.5em;
    color:#cccccc;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsarticletext .articlecontent {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.newsarticletext .articlecontent img {
    display: block;
    margin: auto;
    max-width: 100%;
}