/* all */
html, 
body { 
    margin: 0; 
}

.noscrollbody {
    height: 100%;
}

/* navbar */
.navbar {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;  
    background-color: rgba(51, 51, 51, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* to edit */
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.4em;
}

.navbar a:hover {
    color: #b1b1b1;
  }

.navbar img {
    display: block;
}

.navbar .button {
    padding: 0.94em 3%;
}

.navbar #download {
    background-color: #f5d45f;
    color: #333;
    font-weight: 600;
}

.navbar #download:hover {
    background-color: #b8920d;
    color: #f2f2f2;
}


/* footer */
footer {
    z-index: 10;
    position: relative;
    background-color: #333;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* to edit */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
}

footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer nav a {
    text-decoration: none;
    margin: 1% 2%;
}

.sociallink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 3%;
}

#socials a {
    color: #f2f2f2;
    font-size: 1.2em;
    padding-left: 8px;
}

#socials a:hover {
    color: #b1b1b1;
}

#socials img {
    height: 1.2em;
    width: auto;
}

#companyinfo a {
    color: #cccccc;
    font-size: 1em;
}

#companyinfo a:hover {
    color: #858585;
}

footer #companylogo img {
    padding-top: 4px;
    width: 14em;
    height: auto;
}

footer .copyright {
    font-size: 0.8em;
    color: #cccccc;
}

/* home page */
#homebg {
    background-image: url("imgs/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#homebg img {
    padding-top: 20%;
}

#platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#platforms a {
    width: 14em;
    margin: 2%;
    border-radius: 0.6em;
}

#platforms a img {
    display: block;
    max-width: 100%;
    border-radius: 0.6em;
    opacity: 0.85;
}


#platforms a:hover img {
    opacity: 1;
}

/* about page */
#abtbg {
    background-image: url("imgs/bg.png"); /*to edit */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}